.container {
  width: 100%;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  overflow-y: auto;
  min-height: 15vh;
  max-height: 85vh;
}

@media screen and (min-width: 670px) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1050px) {
  .items {
    grid-template-columns: 1fr;
    max-height: 630px;
  }
}
