.container {
	width: 100%;
	height: 100%;
	position: relative;
}
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0 10px;
}
.btn {
	margin-left: 10px;
	padding: 6px;
}
.skins {
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	position: relative;
	top: 0;
	left: 0;
	background-color: #454171;
	z-index: 1;
	max-height: calc(100vh - 110px);
}
.skins-container {
	position: absolute;
	width: 100%;
}
.form {
	width: 100%;
	display: flex;
}
@media screen and (min-width: 1050px) {
	.top {
		margin: 0;
	}
	.form {
		max-width: 100%;
	}
	.skins {
		height: min-content;
		max-height: 400px;
	}
	.skins-container {
		top: 35px;
	}
}
