.typeContainer {
	display: flex;
	border-bottom: 1px solid var(--line);
	margin-bottom: 20px;
	padding-bottom: 10px;
}
/* .item-colorful {
	width: 40px;
	height: 40px;
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(216, 66, 210, 1) 15%,
		rgba(66, 89, 216, 1) 35%,
		rgba(66, 215, 216, 1) 50%,
		rgba(66, 216, 68, 1) 65%,
		rgba(205, 216, 66, 1) 85%,
		rgba(216, 66, 66, 1) 100%
	);
	border-radius: 50%;
	position: relative;
	rotate: 45deg;
} */
.item {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.item-selected {
	opacity: 0.5;
}
@media screen and (min-width: 1050px) {
	.typeContainer {
		align-items: center;
		justify-content: center;
	}
	.item {
		width: 25px;
		height: 25px;
	}
	.item:hover {
		opacity: 0.7;
	}
}
