.top {
	padding: 15px;
}
.container {
	max-width: 540px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 740px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1250px;
	}
}
