.container {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 54px 1fr;
	margin-bottom: 25px;
}
.photo {
	width: 54px;
	height: 54px;
	background-color: rgba(121, 121, 121, 0.1);
	border: 1px solid rgba(121, 121, 121, 0.1);
	border-radius: 5px;
}
.hashtag,
.title {
	background-color: rgba(121, 121, 121, 0.1);
	border: 1px solid rgba(121, 121, 121, 0.1);
	height: 14px;
	border-radius: 5px;
}
.hashtag {
	width: 50px;
	margin-bottom: 5px;
}
.title {
	width: 250px;
}
.pulse {
	display: block;
	background-color: rgba(0, 0, 0, 0.11);
	animation: animation-c7515d 1.5s ease-in-out 0.5s infinite;
}
@keyframes animation-c7515d {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@media screen and (min-width: 992px) {
	.title {
		width: 150px;
		height: 35px;
	}
}
