.icon {
	margin-right: 10px;
	position: relative;
	z-index: 1;
}
.img {
	display: block;
	width: 100%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.user {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #7668cb;
	transition: ease 0.3s;
}
@media screen and (min-width: 1050px) {
	.user:hover {
		background: #e71fb8;
	}
}
