.btn {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 10px;
}
@media screen and (min-width: 1050px) {
	.btn {
		margin-right: 0px;
	}
}
