.image {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 250px;
}
.wrapper {
	padding: 10px 20px 20px;
	display: flex;
	flex-direction: column;
}
.userInfo {
	display: flex;
}
.user {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
.userDetails {
	display: flex;
	flex-direction: column;
}
.userName,
.additional {
	display: block;
	height: 12px;
	margin-bottom: 3px;
	border-radius: 5px;
}
.userName {
	width: 65px;
}
.additional {
	width: 50px;
}
.postContainer {
	padding-left: 40px;
}
.title {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.hashtag {
	margin-right: 5px;
	width: 40px;
	height: 12px;
	border-radius: 5px;
}
.postContent {
	width: 90%;
	height: 150px;
	margin: 30px 0 50px;
	border-radius: 5px;
}
.pulse {
	display: block;
	background-color: rgba(0, 0, 0, 0.11);
	animation: animation-c7515d 1.5s ease-in-out 0.5s infinite;
}
@keyframes animation-c7515d {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@media screen and (min-width: 768px) {
	.image {
		height: 350px;
	}
}
@media screen and (min-width: 992px) {
	.image {
		height: 500px;
	}
}
