.language {
	color: #fff;
	position: absolute;
	top: 35px;
	left: -5px;
	background-color: #7668cb;
	padding: 10px;
	width: 125px;
	border-radius: 5px;
}

.lang-cont {
	user-select: none;
	position: relative;
	z-index: 1;
}
.item {
	margin-bottom: 5px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s;
	display: flex;
	align-items: center;
}
.text {
	display: flex;
	align-items: center;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease 0.2s;
	height: 25px;
	width: 25px;
	margin-left: 5px;
}
.icon-opened {
	rotate: 180deg;
}
.img {
	padding-right: 10px;
	width: 30px;
	height: 20px;
}
@media screen and (min-width: 1050px) {
	.item:hover {
		color: #e71fb8;
	}
	.lang-cont {
		margin: 0 10px;
	}
}
