.container {
	max-width: 567px;
	margin: 0 auto;
}
.skins {
	display: flex;
	justify-content: space-between;
}
@media screen and (min-width: 1050px) {
	.top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 20px auto;
		grid-gap: 20px;
	}
	.container {
		max-width: 1800px;
		margin: 0 20px;
	}
}
