.typeContainer {
  display: flex;
  border-bottom: 1px solid var(--line);
  margin-bottom: 20px;
  padding-bottom: 10px;
  flex-direction: column;
}
.checkBoxItem {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 5px;
  cursor: pointer;
}
.checkBox {
  width: 12px;
  height: 12px;
  border: 1px solid var(--text-primary);
  margin-right: 10px;
}
