.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
	min-width: 300px;
	max-width: 450px;
	width: 100%;
}
.label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	color: var(--text-primary);
}
.form {
	width: 100%;
}
.controls {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.reset {
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.password {
	display: flex;
	align-items: center;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0 0 10px;
	cursor: pointer;
}
.icon svg {
	fill: var(--text-primary);
}
.img {
	width: 20px;
	height: 20px;
}
.btn {
	background: transparent;
	text-transform: none;
	padding: 0;
	color: var(--text-primary);
}
.btn:hover {
	color: #e71fb8;
}
