.container {
	margin-top: 15px;
	padding: 0 15px;
}
@media screen and (min-width: 576px) {
	.container {
		padding: 0 25px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 1200px;
		margin: 35px auto;
	}
}
