.container {
	margin-top: 15px;
	padding: 20px;
	background-color: rgba(121, 121, 121, 0.1);
	border-radius: 5px;
}
.user {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #7668cb;
	transition: ease 0.3s;
}
.comment {
	display: flex;
}
.userMessage {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
.line {
	margin-left: 50px;
	height: 1px;
	background-color: rgba(121, 121, 121, 0.1);
}
@media screen and (min-width: 1050px) {
	.container {
		max-width: 1200px;
		margin: 15px auto 0;
	}
}
