.container {
	padding: 0 15px;
	min-height: 85vh;
}

@media screen and (min-width: 768px) {
	.container {
		margin-top: 25px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		grid-gap: 20px;
	}
}
